.nonogramDataCell {
	border: 1px solid grey;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: center;
	font-size: 30px;
}

.nonogramTable {
	border-collapse: collapse;
	border: 2px solid grey;
}

.nonogramColClueCell {
	border: 2px solid grey;
	text-align: center;
	vertical-align: bottom;
}

.nonogramColClue {
	font-size: 35px;
	color: black;
}

.nonogramRowClueCell {
	border: 2px solid grey;
	text-align: right;
	vertical-align: center;
}

.nonogramRowClue {
	font-size: 35px;
	color: black;
	margin: 10px;
}

.nonogramPalSelBlock {
	width: 60px;
	height: 60px;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	display: inline-block;
}

#paletteAddRemoveSpan {
	display: inline-block;
	width: 60;
}

.nonogramPalSelBlockPad {
	margin: 3px;
}

.nonogramPalSelButtonSpan {
	float: left;
	display: block;
}

.nonogramPalButton {
	width: 25;
	height: 25;
	margin: 3px;
}

#paletteSelectorContainer {
	display: none;
	margin-bottom: 20px;
}

#resizeContainer {
	display: none;
	margin: 20px;
}

.resizeButtonDiv {
	margin: 5px;
}

